*{
    padding: 0;
    margin: 0;
}

.section16{
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
}

.column1{
    margin-left: 50px;
}

.imgdiv{
    margin-bottom: 20px;
}

.hqdiv{
    margin-bottom: 20px;
}

.address{
    margin-bottom: 20px;
}

.column1text{
    font-size: 15px;
    margin-bottom: 15px;
}

.column1section1{
    color: rgb(199, 199, 199);
    font-size: 13px;
}

.imgsizefoot{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.ico-number{
    display: flex;
    margin-bottom: 20px;
}

.ptimgsize{
    height: 25px;
    width: 25px;
}

.column1,
.column2,
.column3 {
  flex: 0.5; /* Distribute available space equally among columns */
  padding: 20px; /* Add spacing around columns */
}

.products{
    padding-bottom: 10px;
    border-bottom: 1px solid #2e82cb;
    margin-bottom: 10px;
    color: #2e82cb;
}

.linktexts{
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.careers{
    padding-bottom: 10px;
    border-bottom: 1px solid #2e82cb;
    margin-bottom: 10px;
    color: #2e82cb;
}

.channel-partners{
    padding-bottom: 10px;
    border-bottom: 1px solid #2e82cb;
    margin-bottom: 10px;
    color: #2e82cb;
}

.contactus{
    padding-bottom: 10px;
    border-bottom: 1px solid #2e82cb;
    margin-bottom: 10px;
    color: #2e82cb;
}

.partners{
    display: flex;
    gap: 20px;
}

.shopify{
    color: white;
}

.woo{
    color: white;
}

.magneto{
    color: white;
}

.column3section3{
    margin-top: 30px;
    margin-right: 100px;
    color: white;
}

.rtnos span{
    font-size: 30px;
}

.rtnos h4{
    color: white;
    margin-top: 2px;
}

.partnercompanies{
    margin-top: 30px;

}

.partnercompanies span{
    font-size: 30px;
}

.follow{
    margin-top: 30px;
}

.icons{
    display: flex;
    gap: 10px;
}