*{
    padding: 0;
    margin: 0;
}

.section5container1{
    display: flex;
  justify-content: center;
  align-items: center;
    padding: 80px 12px;
    margin: 0 29px;
  }

  .section5container2{
    padding: 0, 14px;
    text-align: center;
  }

  .section5container2 h2{
    color: #2e82cb;
    margin: 24, 0;
    font-size: 48px;
  }

  .section5container2 h5{
    font-size: 22px;
  }