*{
    padding: 0;
    margin: 0;

}

.section10{
    margin-top: 100px;
    margin-bottom: 100px;
}

.section10heading{
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.section10subheading{
    /* padding: 2px;
    margin: 2px; */
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px auto;
  max-width: 1200px;
}

.grid-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-text-container-sect10{
    text-align: center;
    padding: 20px;
  }

  .imgsizesect10{
    padding: 5px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    border: solid gray 1px;
    border-radius: 100%;
  }
  .imgalign{
    display: flex;
    justify-content: center;
  }

  .img-text-container-sect10 h4{
    color: #2E82CB;
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
  }