*{
    padding: 0;
    margin: 0;
}

/* .section1{
    margin-bottom: 50px;
    margin-top: 100px;
} */

.outerdiv{
    margin: 0 200px;
}

.headinglogo{
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.imgbox{
    height: 250;
    width: 250px;
    padding-left: 20px;
}

.heading2{
    font-size: 60px;
}

.heading2 span{
    color: #2e82cb;
}

.text3{
    font-size: 36px;
    padding: 16px 0;
}

.rowtext{
    display: flex;
    text-align: left;
    padding: 24px 0 48px 0;
    width: 500px;

}

/* .rowtext h6{
    font-size: 18px;
} */

.flexboxes{
  display: flex;
  justify-content: start; 
  align-items: center; 
  height: 100px;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    width: 700px;
}

/* .flexcontainer h5{
    border-right: black solid 1px;
} */

.percent{
    font-size: 42px;
}

.percentstats{
    font-size: 18px;
}



.imagesize{
    height: 64px;
    width: 64px;
  
}


  

   .custom-color {
    color: #2e82cb; /* Replace with your desired color value */
  }
  